body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #1c1b22;
    color: #eee;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 500px;
    max-width: 90%;
}

.btn {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "Cantarell";
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    border: 1px solid #555;
    text-transform: uppercase;
    padding: 8px 16px;
    height: 48px;
    text-decoration: none;
}

.w100 {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    row-gap: 8px;
}

.btn:hover,
.inner-link:hover {
    background-color: #444;
}

.input {
    box-sizing: border-box;
    background-color: #343a40;
    border: none;
    color: #fff;
    padding: 0.5rem;
}

.input:focus {
    background-color: #495057;
    box-shadow: none;
    outline: none;
}

::-webkit-input-placeholder,
:-moz-placeholder ,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #ccc;
}


.page-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.action-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.card-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.card-list .item {
    width: 100%;
    height: 48px;
    margin-bottom: -1px;
    border: 1px solid #555;
}

.panel {
    display:block;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    border: 1px solid #555;
}

/* this rule is a modifier, it is meant as an overrule */
.danger {
    background-color: maroon !important;
    border-color: red !important;
    color: whitesmoke !important;
}
/* this rule is a modifier, it is meant as an overrule */
.btn.danger:hover {
    background-color: red !important;
}

.unset {
    all: unset;
}

/* meant for a <button/>, <li/>, etc. wrapping around a link tag <a href/> */
.outer-link {
    display: block;
    padding: 0;
}

/* meant for a <a href/> embedded within another tag (<button/>, <li/>, etc.) */
.inner-link {
    /* remove unnecessary a default styles */
    cursor: pointer;
    box-sizing: border-box;
    /* set a padding for <a> instead of a padding for <parent> */
    padding: 8px 16px;
    /* make <a> inside <parent> take the whole available space */
    width: 100%;
    height: 100%;
    /* take the flat 48px height of <parent> into account for displaying text */
    display: flex;
    align-items: center;
}

.badminton-field {
    display: grid;
    border: 2px solid #fff;
    aspect-ratio: 61 / 69;
    grid-template-columns: 7% 43% 43% 7%;
    grid-template-rows: 29.6% 59.2% 11.2%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
  }
  